# Notebook for Visualisation
## Gabriel Marcellino

## Import the Libraries

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

/Users/gabrielmarcellinojoestiawan/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/gabrielmarcellinojoestiawan/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Import the Data

In [2]:
data = pd.read_csv("Absenteeism_predictions.csv")

In [3]:
data

,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Day of the Week,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Probability,Prediction
0,False,False,False,True,7,1,289,33,30,0,2,1,0.657658,1
1,False,False,False,False,7,1,118,50,31,0,1,0,0.067849,0
2,False,False,False,True,7,2,179,38,31,0,0,0,0.234795,0
3,True,False,False,False,7,3,279,39,24,0,2,0,0.878638,1
4,False,False,False,True,7,3,289,33,30,0,2,1,0.606034,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,True,False,False,False,5,2,179,40,22,1,2,0,0.657893,1
696,True,False,False,False,5,2,225,28,24,0,1,2,0.737424,1
697,True,False,False,False,5,3,330,28,25,1,0,0,0.872766,1
698,False,False,False,True,5,3,235,32,25,1,0,0,0.244258,0
699,False,False,False,True,5,3,291,40,25,0,1,1,0.371930,0