# Basic Logistic Regression

### import the relevant libraries

In [28]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# #Apply a fix to the statsmodel library
# from scipy import stats
# stats.chisqprob = lambda chisq,df : stats.chi2.sf(chisq,df)

### Load the Data

In [29]:
# raw_data = pd.read_csv('2.01.+Admittance.csv')
raw_data = pd.read_csv('2.02.+Binary+predictors.csv')
raw_data

      SAT Admitted  Gender
0    1363       No    Male
1    1792      Yes  Female
2    1954      Yes  Female
3    1653       No    Male
4    1593       No    Male
..    ...      ...     ...
163  1722      Yes  Female
164  1750      Yes    Male
165  1555       No    Male
166  1524       No    Male
167  1461       No    Male

[168 rows x 3 columns]

In [30]:
# change  Admitted data to numerical

data = raw_data.copy()
data['Admitted'] = data['Admitted'].map({'Yes':1,'No':0})
data['Gender'] = data['Gender'].map({'Male':1,'Female':0})
data

      SAT  Admitted  Gender
0    1363         0       1
1    1792         1       0
2    1954         1       0
3    1653         0       1
4    1593         0       1
..    ...       ...     ...
163  1722         1       0
164  1750         1       1
165  1555         0       1
166  1524         0       1
167  1461         0       1

[168 rows x 3 columns]

### Variables

In [36]:
y = data['Admitted']
# x1 = data['SAT']
x1 = data[['SAT','Gender']]

### Plot The Data

#### Scatter Plot

In [32]:
# plt.scatter(x1,y)
# plt.xlabel('SAT',fontsize=15)
# plt.ylabel('Admitted',fontsize=15)
# plt.show()

#### Logistic Regression Curve

In [39]:
print(x1)

      SAT  Gender
0    1363       1
1    1792       0
2    1954       0
3    1653       1
4    1593       1
..    ...     ...
163  1722       0
164  1750       1
165  1555       1
166  1524       1
167  1461       1

[168 rows x 2 columns]

In [37]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()

# def f(x,b0,b1):
#     return np.array(np.exp(b0+x*b1)/(1+np.exp(b0+x*b1)))

# f_sorted = np.sort(f(x1,results_log.params[0],results_log.params[1]))
# x_sorted = np.sort(np.array(x1))

# plt.scatter(x1,y)
# plt.xlabel('SAT',fontsize=15)
# plt.ylabel('Admitted',fontsize=15)
# plt.plot(x_sorted,f_sorted,color='red')
# plt.show()

Optimization terminated successfully.
         Current function value: 0.120117
         Iterations 10

In [38]:
results_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      165
Method:                           MLE   Df Model:                            2
Date:                Mon, 27 Nov 2023   Pseudo R-squ.:                  0.8249
Time:                        10:06:08   Log-Likelihood:                -20.180
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 5.118e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -66.4040     16.321     -4.068      0.000     -98.394     -34.414
SAT            0.0406      0.010      4.129      0.000       0.021       0.060
Gender        -1.9449      0.846     -2.299      0.022      -3.603      -0.287
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

MLE : Maximum Likelihood Estimation