In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
sns.set()

# Import Data

In [10]:
raw = pd.read_csv('Bank_data.csv')
raw = raw.drop(columns="Unnamed: 0")
raw.head()

   interest_rate  credit  march  may  previous  duration    y
0          1.334     0.0    1.0  0.0       0.0     117.0   no
1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2          4.858     0.0    1.0  0.0       0.0     167.0   no
3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [11]:
data = raw.copy()
data['y'] = data['y'].map({'yes':1,'no':0})
data

     interest_rate  credit  march  may  previous  duration  y
0            1.334     0.0    1.0  0.0       0.0     117.0  0
1            0.767     0.0    0.0  2.0       1.0     274.0  1
2            4.858     0.0    1.0  0.0       0.0     167.0  0
3            4.120     0.0    0.0  0.0       0.0     686.0  1
4            4.856     0.0    1.0  0.0       0.0     157.0  0
..             ...     ...    ...  ...       ...       ... ..
513          1.334     0.0    1.0  0.0       0.0     204.0  0
514          0.861     0.0    0.0  2.0       1.0     806.0  1
515          0.879     0.0    0.0  0.0       0.0     290.0  0
516          0.877     0.0    0.0  5.0       1.0     473.0  1
517          4.965     0.0    0.0  0.0       0.0     142.0  0

[518 rows x 7 columns]

## Variables

In [12]:
y = data['y']
x1 = data['duration']

In [13]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log  = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7

# Regression

In [14]:
results_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      516
Method:                           MLE   Df Model:                            1
Date:                Mon, 27 Nov 2023   Pseudo R-squ.:                  0.2121
Time:                        09:45:22   Log-Likelihood:                -282.89
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 5.387e-35
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.7001      0.192     -8.863      0.000      -2.076      -1.324
duration       0.0051      0.001      9.159      0.000       0.004       0.006
==============================================================================
"""

## Confusion Matrix

In [15]:
results_log.pred_table()
cm_df = pd.DataFrame(results_log.pred_table())
cm_df.columns = ['Predicted 0 (N)','Predicted 1 (T)']
cm_df = cm_df.rename(index = {0 :'Actual 0 (N)',1:'Actual 1 (T)'})
cm_df

              Predicted 0 (N)  Predicted 1 (T)
Actual 0 (N)            204.0             55.0
Actual 1 (T)            104.0            155.0

In [18]:
cm = np.array(cm_df)
acc_train = (cm[0,0]+cm[1,1])/cm.sum()
print(f"accuracy = {acc_train * 100}")

accuracy = 69.3050193050193