In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
audiobook_with_header = pd.read_csv('Audiobooks_data_with_header.csv')
audiobook = pd.read_csv('Audiobooks_data.csv')

| Column Name | Description |
| --- | --- |
| ID | A unique ID that identifies each customer.
| Book length (mins)_overall | Total all minutes book customer bought.
| Book length (mins)_avg | Total all minutes book customer bought/Price_overall.
| Price_overall	 | Total all price book customer bought/Price_overall.
| Price_avg	 | Total all minutes book customer bought/Price_overall.
| Review	 | Customer had given the review before.
| Review 10/10	 | If customer had given the review, it in.
| Minutes listened	 | Measure of engagement.
| Completion	 | Total minutes listened / book length_overall.
| Support Requests	 | How many time customer ask for help.
| Last visited minus Purchase date	 | The difference day last visited with purchase date.
| Targets	 | Customer converts or not.

In [15]:
audiobook_with_header

,ID,Book length (mins)_overall,Book length (mins)_avg,Price_overall,Price_avg,Review,Review 10/10,Minutes listened,Completion,Support Requests,Last visited minus Purchase date,Targets
0,994,1620.0,1620,19.73,19.73,1,10.00,0.99,1603.8,5,92,0
1,1143,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0
2,2059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0
3,2882,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0
4,3342,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14079,28220,1620.0,1620,5.33,5.33,1,9.00,0.61,988.2,0,4,0
14080,28671,1080.0,1080,6.55,6.55,1,6.00,0.29,313.2,0,29,0
14081,31134,2160.0,2160,6.14,6.14,0,8.91,0.00,0.0,0,0,0
14082,32832,1620.0,1620,5.33,5.33,1,8.00,0.38,615.6,0,90,0
14083,251,1674.0,3348,5.33,10.67,0,8.91,0.00,0.0,0,0,1